.content
	padding-top: 30px
	position: relative
	background-color: #fff
	transition: transform 0.4s linear
	transform: translateZ(0)
	&:before
		content: ''
		top: 0
		z-index: 1
		left: 0px
		width: 100%
		height: 2px
		position: absolute
		box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2)


.inner-content
	padding-left: 30px
	padding-right: 30px

//
@media (max-width: 991px) and (min-width: 320px)
	.content
		z-index: 5
		padding-top: 0px
		position: relative

	.inner-content
		padding-left: 0
		padding-right: 0

@media (max-width: 767px) and (min-width: 320px)
	.content
		min-height: 270px