.gradient-wrapper
	width: 100%
	height: 4px
	overflow: hidden
	position: relative

.b_gradient
	top: 0
	width: 200%
	height: 4px
	position: absolute
	transform: translateX(0%)
	background-image: (linear-gradient(-160deg, rgba(168,203,199,1) 0%,rgba(204,207,175,1) 25%,rgba(168,203,199,1) 50%,rgba(204,207,175,1) 75%,rgba(168,203,199,1) 100%))
	animation: anGradient 1.5s cubic-bezier(0.03,-0.07, 0.93, 0.79) infinite

// keyframes mixin
=keyframes($name)
	@keyframes #{$name}
		@content

// use of keyframes mixin
+keyframes(anGradient)
	50%
		transform: translateX(0%)
	100%
		transform: translateX(-50%)

