.paginator-wrapper
	font-size: 0
	text-align: center
	*
		transition: background-color 0.2s ease-in-out

.btn-paginator
	font-weight: 100
	display: inline-block
	vertical-align: middle

.paginator
	padding: 0 20px
	display: inline-block
	vertical-align: middle
	&>li
		float: left
		margin-right: 10px
		&:last-of-type>.pager-btn
			margin-right: 0
		&:hover>.pager-btn,
		&.active>.pager-btn
			color: #fff
			background-color: #a8cbc7
		&>.pager-btn
			display: block
			padding: 5px 0
			font-size: 15px
			min-width: 30px
			min-height: 30px
			text-align: center
			color: $main-color
			border-radius: 50%
		&>.other-pages
			padding: 5px 0
			display: block
			font-size: 15px
			color: $main-color

.btn-paginator
	&[disabled="disabled"]
		color: #303030 !important
		background: #a8cbc7 !important
		&:hover
			color: #303030 !important
			background: #a8cbc7 !important
			border: 1px solid #a8cbc7 !important