.product-controls
	margin-top: 40px
	.button-wrap
		float: left
		position: relative
		a.btn-control
			width: 44px
			height: 44px
			margin-left: 30px
			border-radius: 50%
			border: 1px solid transparent
			transition: background-color 0.2s linear
			line-height: 1.9em
			text-align: center
			font-size: 20px
			&:hover
				color: #fff
			&.in
				color: #fff
				background-color: darken($primary-border, 10%)
			&:before
				font-size: 20px
				line-height: 2em
			&:hover:before
				color: #fff
			&.ctrl__information
				border-color: $primary-border
				&:hover
					background-color: darken($primary-border, 10%)
			&.ctrl__share
				border-color: $ctrl__share
				&:hover
					background-color: darken($ctrl__share, 10%)
			&.ctrl__like
				border-color: $ctrl__like
				&:hover
					background-color: darken($ctrl__like, 10%)
			&:active
				box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)

.control-modal
	top: 57px
	left: 50%
	z-index: 1
	width: 194px
	padding: 15px
	display: none
	position: absolute
	margin-left: -97px
	background-color: #fff
	border-radius: $primary-radius
	box-shadow: 0 1px 4px rgba(0,0,0,0.2)
	.share
		color: #fff
		display: block
		padding: 2px 0
		font-size: 12px
		font-weight: 400
		margin-bottom: 15px
		border-radius: $primary-radius
		transition: box-shadow 0.2s linear
		[class^="icon-"],
		[class*=" icon-"]
			width: 40px
			height: 36px
			text-align: center
			display: inline-block
			vertical-align: middle
			&:before
				font-size: 20px
				line-height: 1.7em
		&:hover
			box-shadow: inset 0 1px 4px rgba(0,0,0,0.4)
		&:last-of-type
			margin: 0
		&.facebook
			background-color: #1e599b
			&:before
				background-color: #1e599b
		&.twitter
			background-color: #00acf5
			&:before
				background-color: #00acf5
		&.gplus
			background-color: #db4c32
			&:before
				background-color: #db4c32


@media (max-width: 767px) and (min-width: 320px)
	.button-wrap
		&>.btn
			margin-left: 20px !important
