.container
    .content-border
        .inner-content
            h1.pull-left Simple Suzanni Lilac
            include ../product-controls.jade
            .clear
            div.no-reload-parent
                .b_goods.row
                    include main-preview.jade
                    include goods-list.jade