.col-md-6.col-sm-6
	.goods-listing-wrap.mb-30
		ul.goods-listing.row
		//- 	li.item-listing-wrap.active
		//- 		div(class="listing-item")
		//- 			img(src="images/items/original/item-5.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-6.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-7.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-8.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-9.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-10.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-11.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-12.jpg", alt="")
		//- 	li.item-listing-wrap
		//- 		a(href="", target="", class="listing-item")
		//- 			img(src="images/items/original/item-13.jpg", alt="")
		include ../no-reload-pagination.jade