.col-md-6.col-sm-6
	div(class="goods-section clearfix mb-30")
		div(class="goods-main-picture")
			img(id="main-zoom", src="images/items/original/item-1.jpg", data-zoom-image="images/items/original/item-1.jpg")
		div(class="goods-section-preview", id="goods-list")
			a(href="", target="", class="section-item", data-image="images/items/original/item-1.jpg", data-zoom-image="images/items/original/item-1.jpg")
				img(src="images/items/original/item-1.jpg", alt="", class="img-responsive")
			a(href="", target="", class="section-item", data-image="images/items/original/item-2.jpg", data-zoom-image="images/items/original/item-2.jpg")
				img(src="images/items/original/item-2.jpg", alt="", class="img-responsive")
			a(href="", target="", class="section-item", data-image="images/items/original/item-3.jpg", data-zoom-image="images/items/original/item-3.jpg")
				img(src="images/items/original/item-3.jpg", alt="", class="img-responsive")
	.section-buttons.clearfix.mb-40
		a(href="", class="col-md-6 btn btn-link btn-lg td-none pull-left") Information
		a(href="", class="col-md-6 btn btn-link btn-lg td-none pull-right") Custom color