.btnMenu
    &.in
        .gamb
            margin-top: 15px
            &>.line
                &:nth-child(1)
                    transform: translate3d(0,0,0) rotate(45deg)
                &:nth-child(2)
                    margin-bottom: 0
                    transform: translate3d(0,-7px,0) rotate(-44deg)
                &:nth-child(3),
                &:nth-child(4)
                    opacity: 0

.menu_word
    color: #a8cdde
    margin-top: 5px
    margin-left: 18px
    display: inline-block
    vertical-align: middle

.gamb
    margin-top: 5px
    display: inline-block
    vertical-align: middle
    transition: margin 0.3s linear
    &>.line
        width: 24px
        height: 1px
        display: block
        margin-bottom: 6px
        background-color: #a8cbc7
        transition: transform,opacity 0.3s linear
        &:last-of-type
            margin: 0

@media (max-width: 767px) and (min-width: 320px)
    
    .menu_word
        display: none