.logo
	display: block
	&[role="header-logo"]
		top: 0
		left: 50%
		width: 175px
		position: absolute
		margin-left: -88px

@media (max-width: 767px) and (min-width: 320px)
	.logo
		&[role="header-logo"]
			width: 130px
			margin-left: -65px