.site-map
	// border-top: 1px solid #f7f7f7
	border-top: 1px solid transparent

.navigation
	padding-left: 30px
	padding-right: 30px
	&>ul
		font-size: 0
		overflow: hidden
		text-align: justify
		&>li
			display: inline-block
			vertical-align: middle
			&.active>a
				color: $active
			&>a
				display: block
				font-size: 16px
				padding: 22px 0
				line-height: 1em
				color: $main-color
				transition: all 0.2s ease-in-out
				&:hover
					color: $hover
		&:after
			content: ''
			width: 100%
			display: inline-block

@media (max-width: 991px) and (min-width: 320px)

	.navigation
		padding-left: 0
		padding-right: 0
		background-color: #FFF
		&>ul
			text-align: center
			&>li
				display: block

	.site-map
		border-top: 1px solid #f7f7f7

@media (max-width: 768px) and (min-width: 991px)


	.navigation
		&>ul
			&>li
				margin: 40px 0
				&>a
					padding: 0

@media (max-width: 767px) and (min-width: 320px)
	
	.site-map
		border-top: 1px solid #f7f7f7
	
	.navigation
		&>ul
			&>li
				margin: 30px 0
				&>a
					padding: 0