.b_search
	background-color: $light-simple
	border-top: 1px solid $light-border
	.main-search
		width: 100%
		border: none
		font-size: 16px
		padding: 19px 10px
		color: $user-color
		box-sizing: border-box
		appearance: searchfield !important
		-webkit-appearance: searchfield !important

.--search.in
	&>i:before
		color: #D1C327

.b_search
	.icon-search
		float: left
		margin: 18px 0
		border: none
		background-color: transparent
		&:before
			font-size: 22px
			color: #a8cbc7
	.search-wrap
		overflow: hidden


=placeholder
	::-webkit-input-placeholder
		@content
	:-moz-placeholder
		@content
	::-moz-placeholder
		@content
	:-ms-input-placeholder
		@content

+placeholder
	color: $user-color


@media (max-width: 767px) and (min-width: 320px)

	+placeholder
		color: $user-color
		font-size: 15px