.user-controls
	&>.user-btn
		margin-left: 70px
		vertical-align: top
		display: inline-block
		color: $primary-color
		&:first-of-type
			margin-left: 0
		&>i
			margin-right: 10px
			display: inline-block
			vertical-align: middle
			&:before
				font-size: 24px
		&>span
			display: inline-block
			vertical-align: middle

@media (max-width: 767px) and (min-width: 320px)
	.user-controls
		&>.user-btn
			width: 32px
			height: 32px
			margin-left: 15px
			&>i:before
				font-size: 32px
			&>span
				display: none

@media (max-width: 991px) and (min-width: 768px)
	.user-controls
		&>.user-btn
			margin-left: 24px