.marked-list
    padding-top: 10px
    padding-bottom: 44px
    li
        position: relative
        padding-left: 15px
        &:before
            left: 0
            top: 7px
            content: ''
            width: 7px
            height: 7px
            position: absolute
            border-radius: 50%
            background-color: #d7ad50

@media (max-width: 992px) and (min-width: 320px)
    .marked-list
        padding-bottom: 0px
    .action-btn
        width: 100% !important