@import 'color-list-variables'

.user-btns
    &>.btn
        width: 30%
        float: left
        margin-left: 5%
        &:first-of-type
            margin-left: 0

.hint
    padding: 20px
    color: #a8cbc7
    border: 1px solid #e2e3d2
    background-color: #fdfcf2
    &>p
        margin: 0

.color-picker
    .icon-row
        top: 50%
        right: 28px
        margin-top: -10px
        position: absolute
        &:before
            color: #a9ccc8
            font-size: 20px

.rug-block
    overflow: hidden
    border-radius: 4px
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2)

.color-picker
    position: relative

.color-list
    display: none
    height: 260px
    overflow: auto
    overflow-x: hidden
    margin-bottom: 30px
    padding-bottom: 10px
    &>li
        float: left
        margin-right: 28px
        margin-bottom: 28px

.current-color
    overflow: hidden
    position: relative
    border-radius: 24px
    margin-bottom: 30px
    border: 1px solid #cad7d0
    &:after
        top: 0px
        right: 0px
        content: ''
        width: 80px
        height: 100%
        position: absolute
        border-radius: 24px
        border-left: 1px solid #cad7d0
    .icon-row
        transition: transform 0.4s linear
    &.toggled
        .icon-row
            transform: rotate(180deg)

.color-name,
.color-preview
    vertical-align: middle
    display: inline-block !important
    transition: background-color 0.3s ease-in-out

.color-name
    color: #222
    font-size: 16px
    font-weight: 400
    margin-left: 28px

[data-color]
    width: 44px
    height: 44px
    display: block
    border-radius: 50%
    border: 1px solid #cad7d0
    &:hover
        cursor: pointer

.color-list
    [data-color]
        transition: border,border-radius 0.4s ease-in-out
        &:hover
            border-radius: 4px
            border-color: transparent

[data-color="brown"]
    background-color: $brown

[data-color="red"]
    background-color: $red

[data-color="white"]
    background-color: $white

[data-color="green"]
    background-color: $green

[data-color="blue"]
    background-color: $blue

[data-color="pink"]
    background-color: $pink

[data-color="gray"]
    background-color: $gray

[data-color="black"]
    background-color: $black

[data-color="purple"]
    background-color: $purple

[data-color="gold"]
    background-color: $gold

[data-color="silver"]
    background-color: $silver

[data-color="yellow"]
    background-color: $yellow

[data-color="dark-blue"]
    background-color: $dark-blue

[data-color="light-yellow"]
    background-color: $light-yellow

[data-color="dark-green"]
    background-color: $dark-green

[data-color="heavy-brown"]
    background-color: $heavy-brown

[data-color="light-pink"]
    background-color: $light-pink

[data-color="aqua"]
    background-color: $aqua

[data-color="aqua-light"]
    background-color: $aqua-light


@media (max-width: 991px) and (min-width: 320px)

    .color-picker
        position: relative
        // &:after
        //     top: 20%
        //     right: 0
        //     z-index: 1
        //     content: ''
        //     width: 42px
        //     height: 80%
        //     position: absolute
        //     background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 80%, white 100%)

    .list-wrap
        overflow: hidden
        overflow-x: scroll
        overflow-scrolling: touch
        -webkit-overflow-scrolling: touch


    .color-list
        margin: 0
        padding: 0
        height: auto
        overflow: visible
        &>li
            float: left
            margin-right: 15px
            margin-bottom: 15px