.tab-form
    width: 64.73684210526316%
    margin: 0 auto

.form-group
    overflow: hidden
    position: relative
    margin-bottom: 10px
    padding-bottom: 12px
    border-bottom: 1px solid #c8c7cc
    &>label
        color: #a8cbc7
        display: block
        cursor: pointer
        font-size: 11px
        font-weight: 300
        margin-bottom: 5px
        transform: translateY(-30px)
        transition: transform 0.2s ease-in-out
    &>.form-control
        color: #a8cbc7
        width: 100%
        border: none
        display: block
        font-size: 18px
        font-weight: 300
        appearance: none
        &:-moz-placeholder
            opacity: 1
            transition: opacity 0.3s linear
        &:-ms-input-placeholder
            opacity: 1
            transition: opacity 0.3s linear
        &::-webkit-input-placeholder
            opacity: 1
            transition: opacity 0.3s linear
    select.form-control
        text-indent: -1px

.form-group
    &.form-manipulation
        &>label
            transform: translateY(0px)
        &>.form-control
            &:-moz-placeholder
                opacity: 0
            &:-ms-input-placeholder
                opacity: 0
            &::-webkit-input-placeholder
                opacity: 0