@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?-yhqbe8')
  src: url('../fonts/icomoon/icomoon.eot?#iefix-yhqbe8') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?-yhqbe8') format("truetype"), url('../fonts/icomoon/icomoon.woff?-yhqbe8') format("woff"), url('../fonts/icomoon/icomoon.svg?-yhqbe8#icomoon') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-b:before
  content: "\e600"

.icon-blogspot:before
  content: "\e601"

.icon-cart:before
  content: "\e602"

.icon-facebook:before
  content: "\e603"

.icon-goodweave:before
  content: "\e604"

.icon-google:before
  content: "\e605"

.icon-houzz:before
  content: "\e606"

.icon-like:before
  content: "\e607"

.icon-linkedin:before
  content: "\e608"

.icon-reset:before
  content: "\e609"

.icon-row:before
  content: "\e60a"

.icon-save:before
  content: "\e60b"

.icon-search:before
  content: "\e60c"

.icon-share:before
  content: "\e60d"

.icon-slider:before
  content: "\e60e"

.icon-Tag:before
  content: "\e60f"

.icon-twitter:before
  content: "\e610"

.icon-user:before
  content: "\e611"