// dev dependencies
@import "import/bootstrap"
@import "base/variables"

// base styles
@import "base/buttons"
@import "base/base"
@import "base/headings"
@import "base/indent-binds"
@import "base/fonts"

// default modules
@import "base/_action_wrapper.sass"
@import "base/_header-manipulation.sass"
@import "base/header/header"
@import "base/content/content"
@import "base/footer/footer"

// components
@import "components/main-gradient"
@import "components/content-border"
@import "components/product-controls"
@import "components/paginator"
@import "modules/main-slider"
@import "modules/item-card"


// inner pages
@import "goods/goods"


@import "marked-list"


.guide-download
    .icon-save
        display: block
        margin-bottom: 5px
        &:before
            color: #D4C634
            font-size: 50px