@media print
    *
        -webkit-print-color-adjust: exact

    header,
    footer,
    .rub-buttons,
    .product-controls,
    .section-buttons,
    .goods-section-preview
        display: none

    [data-color]
        border: none
        border-radius: 0

    .goods-main-picture > img
        max-height: auto
        max-height: 100%

    .col-md-6
        width: 300px
        display: inline-block
        vertical-align: top
        float: none

    .current-color
        border: none
        border-radius: 0
        .icon-row,
        &:after
            display: none

    a:after
        content:" <" attr(href) ">"
