.sale-module
    margin: 40px 0
    font-size: 18px
    &>i
        display: inline-block
        vertical-align: middle
        width: 26px
        height: 26px
        margin-right: 15px
    &>a
        display: inline-block
        vertical-align: middle
        &:hover
            text-decoration: none
