.state
    padding-bottom: 30px
    .picture
        margin-bottom: 30px
        .img-responsive
            margin: 0 auto

.state-part
    margin-bottom: 44px

.state-title
    color: #222
    font-weight: 300
    margin-bottom: 10px

.state-text
    margin: 0
    color: #222
    font-size: 16px
    font-weight: 300

.state-link
    color: #222
    font-size: 16px

.page-path-module
    margin-bottom: 30px
    &>.page-list
        &>li
            float: left
            &:hover > .link-path
                color: #d4c634
                text-decoration: none
            &.active
                &>.link-path
                    color: #d4c634
                    border-bottom: 2px solid #d4c634
            &>.link-path
                color: #c8cbb3
                display: block
                font-size: 18px
                font-weight: 300
                padding: 10px 25px
                border-bottom: 2px solid transparent

.path-holder
    padding-bottom: 20px
    .state-path
        font-size: 20px
        text-decoration: none
        border-bottom: 1px solid #d4c634
        &:hover
            text-decoration: none
            border-bottom: 1px solid transparent

.guide-download
    text-align: center
    &>a
        font-size: 18px
        font-weight: normal


@media (max-width: 991px) and (min-width: 320px)

    .state-part
        margin-bottom: 20px

    .state-text
        font-size: 15px

    .path-holder
        .state-path
            font-size: 18px

    .guide-download
        &>a
            font-size: 16px