.tab-parent
    margin-top: 30px

.tab-content
    display: none
    &.active
        display: block

.contact-part
    line-height: 20px

.link-path:focus,
.link-path:active
    text-decoration: none

@media (max-width: 767px) and (min-width: 320px)

    .tab-parent
        width: 100%
        margin-top: 20px

    .tab-form
        width: 100%

    .state .picture
        margin-bottom: 0

    .path-link
        width: 50%
        &>.link-path
            text-align: center
            padding: 10px 0 !important