.video-card
    overflow: hidden
    min-height: 450px
    border-radius: 4px
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.20)
    margin-bottom: 30px
    .video-preview
        width: 100%
        min-height: 250px
        max-height: 250px

.card-description
    padding: 15px
    .card-text
        margin: 0
        color: #222
        font-size: 16px