header
	include ./header-gradient.jade
	.container
		.header-main.clearfix.mt-30.mb-30
			div(class="btnMenu hidden-md hidden-lg pull-left user-trigger --navigation", role="button")
				div.gamb
					span.line
					span.line
					span.line
					span.line
				span(class="menu_word text-uppercase") menu
			a(href="home.html", target="", class="logo" role="header-logo", tittle="http://www.juliedasherrugs.com/", alt="http://www.juliedasherrugs.com/")
				img(src="http://www.juliedasherrugs.com/images/logo.png", alt="", class="img-responsive")
			.user-controls.pull-right
				a(href="", target="", class="text-uppercase user-btn") 
					i.icon-user
					span login/register
				a(href="", target="", class="text-uppercase user-btn user-trigger --search")
					i.icon-search
					span search
	include ./navigation.jade
	include ./search.jade
