div(class="site-map dc-wrap b_navigation")
	.container
		nav(role="navigation", class="navigation")
			ul
				li.active
					a(href="", target="", class="text-uppercase td-none") home
				li
					a(href="", target="", class="text-uppercase td-none") rug gallery
				li
					a(href="", target="", class="text-uppercase td-none") video gallery
				li
					a(href="", target="", class="text-uppercase td-none") craftsmanship
				li
					a(href="", target="", class="text-uppercase td-none") pricing
				li
					a(href="", target="", class="text-uppercase td-none") about
				li
					a(href="", target="", class="text-uppercase td-none") contact