div(class="b_search dc-wrap")
    .container
        div(id="search")
            form(id="", method="", action="", class="clearfix")
                button(type="submit").icon-search
                div.search-wrap
                    input(type="search", placeholder="By color, style or design name", class="main-search", autocomplete="on")