@import "social-list"
@import "main-texture"

.b_copyright
	font-size: 14px
	font-weight: 300
	color: $primary-color
	&>p
		&>a
			color: $primary-color

.b_texture
    height: 30px
    background: url('../images/butterflies.png') no-repeat 0px
    background-size: contain

@media (max-width: 767px) and (min-width: 320px)
	.b_copyright 
		margin: 0 20px
		font-size: 12px