.b_texture
	width: 100%
	height: 30px
	overflow: hidden

.butterfly-wrap
	width: 200%
	.butterfly
		float: left
		margin-right: 5px
		&:before
			font-size: 26px
			color: #e0c91f
		&:nth-child(2n+1):before
			color: #ccd0b0
		&:nth-child(3n+1):before
			color: #afcfcc
		&:nth-child(4n+1):before
			color: #f47822
		&:nth-child(5n+1):before
			color: #ccd0b0
		&:nth-child(6n+1):before
			color: #e2cd2f
		&:nth-child(7n+1):before
			color: #b2d1ce
		&:nth-child(8n+1):before
			color: #a7b22c
		&:nth-child(9n+1):before
			color: #f57f30
		&:nth-child(10n+1):before
			color: #a7b22a

@media (max-width: 767px) and (min-width: 320px)
	.b_texture
		height: 22px
	.butterfly-wrap
		.butterfly
			&:before
				font-size: 22px

