.social-list
	margin: 0 auto
	padding: 0 10px
	&>li
		float: left
		margin-right: 30px
		&:last-of-type
			margin-right: 0
		&>a
			width: 44px
			height: 44px
			display: block
			border-width: 1px
			border-radius: 50%
			border-style: solid
			text-align: center
			&:before
				font-size: 20px
				line-height: 2em
			&[class*='icon']
				&.facebook
					border-color: $facebook
					&:before
						color: $facebook
					&:hover:before
						color: darken($facebook,35%)
				&.twitter
					border-color: $twitter
					&:before
						color: $twitter
					&:hover:before
						color: darken($twitter,35%)
				&.linkedin
					border-color: $linkedin
					&:before
						color: $linkedin
					&:hover:before
						color: darken($linkedin,35%)
				&.gplus
					border-color: $gplus
					&:before
						color: $gplus
					&:hover:before
						color: darken($gplus,35%)
				&.blogspot
					border-color: $blogspot
					&:before
						color: $blogspot
					&:hover:before
						color: darken($blogspot,35%)
				&.asidmn
					border-color: $asidmn
					&:before
						color: $asidmn
					&:hover:before
						color: darken($asidmn,35%)
				&.goodweave
					border-color: $goodweave
					&:before
						color: $goodweave
					&:hover:before
						color: darken($goodweave,35%)
				&.houzz
					border-color: $houzz
					&:before
						color: $houzz
					&:hover:before
						color: darken($houzz,35%)
				&.asidmn:before
					content: ''
					width: 26px
					height: 26px
					background: url("../images/ASID.png") no-repeat center
					background-size: 100% auto
					display: block
					margin: 8px auto

// 
@media (max-width: 767px) and (min-width: 320px)
	.b_social
		position: relative
		&:before,
		&:after
			top: 0
			z-index: 1
			content: ''
			width: 42px
			height: 100%
			position: absolute
		&:before
			left: 0
			background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 80%, white 100%)
		&:after
			right: 0
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 80%, white 100%)

	[role="slider-wrapper"]
		overflow-y: hidden
		overflow-x: scroll
		position: relative
		overflow-scrolling: touch
		-webkit-overflow-scrolling: touch

	.social-list
		&>li
			margin-right: 14px