.item-card
	.item-link
		display: block
		overflow: hidden
		position: relative
		margin-bottom: 30px
		background-color: $simple-bg
		border-radius: $primary-radius
		box-shadow: 0 1px 3px 1px rgba(0,0,0,0.20)
		transition: all 0.2s ease-in-out
		// optimal sizes
		max-height: 250px
		min-height: 250px
		&:hover
			text-decoration: none
			box-shadow: 0 1px 2px 2px rgba(211,197,50,0.40)
			&>figure
				// &>img
				// 	transform: scale(1.1)
				&>figcaption
					bottom: 0
					overflow: visible
					white-space: normal
	figure
		position: relative
		border-radius: $primary-radius
		// optimal sizes
		max-height: 250px
		min-height: 250px
		&>img
			margin: 0 auto
		&>figcaption
			left: 0
			width: 100%
			bottom: -10px
			padding: 15px
			display: block
			font-size: 15px
			font-weight: 100
			min-height: 60px
			overflow: hidden
			color: $item-color
			position: absolute
			white-space: nowrap
			text-overflow: ellipsis
			background-color: $simple-bg
			transition: all 0.2s ease-in-out
	.no-photo-card
		width: 100%
		display: table
		text-align: center
		background-color: $simple-bg
		&:hover
			box-shadow: 0 1px 3px 1px rgba(0,0,0,0.20)
		&:before
			color: #5a5454
			font-size: 22px
			display: table-cell
			vertical-align: middle
			text-shadow: 0px 0px 1px rgba(90, 84, 84, 0.9)
			content: 'Photo is not availible'
		&>*
			display: none

@media (max-width: 1200px) and (min-width: 992px)

	.item-card
		.item-link
			max-height: 215px
			min-height: 215px
			&>figure
				max-height: 215px
				min-height: 215px

@media (max-width: 991px) and (min-width: 768px)

	.item-card
		.item-link
			max-height: 215px
			min-height: 215px
			&>figure
				max-height: 215px
				min-height: 215px


@media (max-width: 767px) and (min-width: 320px)

	.item-card:last-of-type>.item-link
		margin-bottom: 0