.main-slider-wrapper
	padding-top: 30px
	padding-bottom: 30px

.slider-inner
	position: relative

.slide
	position: relative

.slide-information
	left: 0
	z-index: 2
	width: 100%
	bottom: 40px
	display: block
	padding: 22px 30px
	position: absolute
	color: $simple-color
	text-decoration: none
	background-color: rgba(0,0,0,0.25)
	&:hover
		color: #fff
		text-decoration: none
	.titling
		font-size: 60px
		font-weight: 100
		line-height: 1em
		margin-bottom: 0.1em
	.small-description
		margin: 0
		font-size: 22px
		font-weight: 100

.main-slider-pager
	right: 0
	z-index: 1
	bottom: 95px
	position: absolute
	&>a
		width: 16px
		height: 16px
		margin-right: 15px
		border-radius: 50%
		vertical-align: top
		display: inline-block
		border: 1px solid #fff
		background-color: transparent
		&.active
			background-color: #fff

.main-slider-wrapper
	.bx-controls-direction
		&>a
			top: 50%
			height: 66px
			overflow: hidden
			margin-top: -33px
			position: absolute
			text-indent: -9999px
			&:hover,
			&:focus,
			&:active
				text-decoration: none !important
			&:before
				color: #dededd
				display: block
				text-indent: 0
				font-size: 46px
				content: '\e60e'
				font-family: 'icomoon'
			&.bx-prev
				left: 0
				transform: rotate(-180deg)
			&.bx-next
				right: 0


// 
@media (max-width: 991px) and (min-width: 768px)
	.slide-information
		.titling
			font-size: 40px
		.small-description
			font-size: 16px

@media (max-width: 767px) and (min-width: 320px)

	.slide-information
		bottom: 15px
		padding: 10px 20px
		.titling
			font-size: 20px
		.small-description
			font-size: 12px

	.main-slider-wrapper
		.bx-controls-direction
			&>a
				height: 36px
				margin-top: -18px
				&:before
					font-size: 26px

@media (max-width: 991px) and (min-width: 320px)
	.fluid-mixed
		width: auto
		margin-top: 0
		margin-left: auto
		margin-right: auto
		padding-left: 0
		padding-right: 0

	.main-slider-wrapper
		padding-top: 0
		padding-bottom: 0