doctype html
html
    include ../modules/base/head.jade
    title About
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 About
                            div.page-path-module
                                ul.page-list.clearfix
                                    li.active
                                        span(class="text-uppercase", class="link-path") julie
                                    li
                                        a(href="", target="", class="text-uppercase", class="link-path") custom rugs
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    p.state-text Julie Dasher, our Founder and Lead Designer, has a passion for rug design. Her evolution as a designer began as a fascination with textiles at an early age. Beginning with quilt making and the weaving arts, her interests later evolved into a love of artisan rugs and the exquisite and stunning designs that come to life in Tibetan and New Zealand wool and Chinese silk with the weavers in Nepal and India.
                                div.state-part
                                    p.state-text Julie receives her inspirations from a variety of places including nature, her extensive designer fabric collection and her children. Julie and her family adopted their daughter, Lily, from Korea and Julie's love of Asian art has grown over those years.
                                div.state-part
                                    p.state-text Formal design training from the Rhodec School in London, as well as her innate creative talents and interest in interior design as an art, have helped in her design journey. Julie's education includes a BS from the University of Virginia and an MBA and MA from Northwestern University.
                                div.path-holder
                                    a(href="", class="state-path") See why Julie supports Goodweave/Rugmark.
                                div.path-holder
                                    a(href="", class="state-path") See our newsletter archive.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")