doctype html
html
    include ../modules/base/head.jade
    title Contacts
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Contact
                            div.page-path-module.tabs-module
                                ul.page-list.clearfix
                                    li(data-tab="adress", class="active path-link")
                                        a(href="", class="text-uppercase", class="link-path") address
                                    li(data-tab="form", class="path-link")
                                        a(href="", class="text-uppercase", class="link-path") contact form
                                div.tab-parent
                                    div(id="adress", class="tab-content active")
                                        .state
                                            .picture
                                                img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                        div.mb-20
                                            p.state-text Please complete this form and let us know how we can help you.
                                        .row
                                            .col-md-6
                                                div.contact-part.mb-30
                                                    h4.state-title Minneapolis Showroom:
                                                    p.state-text
                                                        | Julie Dasher Rugs
                                                        br
                                                        | International Market Square
                                                        br
                                                        | Suite 542
                                                        br
                                                        | Minneapolis, MN 55405
                                                        br
                                                        a(href="(612) 558-8767", target="") (612) 558-8767
                                                        |/Attn: Jane-Marie Bloomberg
                                                div.contact-part.mb-30
                                                    h4.state-title Atlanta Showroom:
                                                    p.state-text 
                                                        | Julie Dasher Rugs/The Charles Stewart Company
                                                        br
                                                        | 425 Peachtree Hills Ave. NE, Suite 12
                                                        br
                                                        | Atlanta, GA 30305 
                                                        br
                                                        a(href="tel:678-637-4616", target="") 678-637-4616
                                                        br
                                                        | and 828-322-9464/Attn: Roe Pitts
                                            .col-md-6
                                                div.contact-part.mb-30
                                                    h4.state-title Montreal Showroom:
                                                    p.state-text
                                                        | Tapis Lipman
                                                        br
                                                        | 4240 Chemin de la Cote de Liesse
                                                        br
                                                        | Montreal, QC H4N 2P7, Canada
                                                        br
                                                        a(href="tel:+1 514-737-5022", target="") +1 514-737-5022/Attn: Alain Lesperance
                                                div.contact-part.mb-30
                                                    h4.state-title Please send all business correspondence to:
                                                    p.state-text
                                                        | Julie Dasher Rugs
                                                        br
                                                        | 11312 US Highway 15/501 Suite 107-129
                                                        br
                                                        | Chapel Hill, NC 27517
                                                        br
                                                        a(href="mailto:info@JulieDasherRugs.com ", target="") info@JulieDasherRugs.com
                                    div(id="form" class="tab-content")
                                        div.tab-form
                                            form(id="", method="", action="")
                                                div.form-group
                                                    label(for="name") Your name
                                                    input(type="text", id="name", placeholder="Your Name", class="form-control", required)
                                                div.form-group
                                                    label(for="email") Your email
                                                    input(type="email", id="email", placeholder="Your Email", class="form-control", required)
                                                div.form-group
                                                    label(for="reason") Reason to contact
                                                    select(name="reason", id="reason", class="form-control")
                                                        option(value="My reason to contact") My reason to contact
                                                        option(value="My reason to contact") My reason to contact
                                                        option(value="My reason to contact") My reason to contact
                                                div.form-group
                                                    label(for="message") Enter your message
                                                    input(type="text", id="message", placeholder="Enter Your Message", class="form-control")
                                                div.text-right.mt-30.mb-30
                                                    button(type="submit", class="btn btn-sm btn-simple") Reset
                                                    button(type="submit", class="btn btn-sm btn-submit") Submit
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")