doctype html
html
    include ../modules/base/head.jade
    title Craftsmanship
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Craftsmanship
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    h3.state-title The Best Wool in the World
                                    p.state-text JULIE DASHER RUGS features Tibetan wool rugs manufactured in Nepal. The wool used is from Himalayan sheep and is considered to be the best in the world due to its texture, strength, luster and stain-resistant properties. Our rugs last for generations.
                                div.state-part
                                    h3.state-title Wool is a Sustainable Fiber
                                    p.state-text Wool is a naturally renewable resource which is harvested every other year from the Himalayan sheep.
                                    p.state-text At the end of its life cycle, wool biodegrades into nutrients which improve soil fertility.
                                    p.state-text Natural properties of wool in a rug can even improve indoor air quality. 
                                div.state-part
                                    h3.state-title Weaving and Dyeing
                                    p.state-text Highly skilled weavers hand card the wool into strands and spin it to prepare it for custom coloring. 
                                    p.state-text The dyes are 100% eco-friendly Swiss Ceiba.
                                div.state-part
                                    h3.state-title Our Spirit of Contribution
                                    p.state-text JULIE DASHER RUGS is a GOODWEAVE-licensed importer and thus we donate a percentage of our profits to help the 
                                        a(href="", target="", class="state-link hover-underline-none") GOODWEAVE Foundation 
                                        | in their efforts to prevent child labor in the rug-making industry. The donation also helps the children of Nepal and India through education and other social services.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")