doctype html
html
    include ../modules/base/head.jade
    title Custom colors
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Simple Suzanni Lilac
                            div.row
                                div.col-md-6
                                    div.rug-block.mb-30
                                        img(src="images/items/original/item-1.jpg", alt="", class="img-responsive")
                                    div.rub-buttons.text-center
                                        a(href="", class="btn btn-lg btn-primary btn-half btn-xs-icon btn-single")
                                            i.icon-estimate $
                                            span Estimate
                                        a(href="", class="btn btn-lg btn-primary btn-half btn-xs-icon btn-single")
                                            i.icon-cart
                                            span Purchase Order
                                        a(href="", class="btn btn-user btn-lg btn-xs-icon btn-single mr-15")
                                            i.icon-reset
                                            span Reset
                                        a(href="", class="btn btn-user btn-lg btn-xs-icon btn-single")
                                            i.icon-save
                                            span Save
                                        a(href="", class="btn btn-user btn-lg btn-xs-icon btn-single hidden-xs hidden-sm btn-print")
                                            i.icon
                                            span Print
                                div.col-md-6
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            div(class="color-preview", data-color="brown")
                                            span.color-name.text-uppercase TCW-090
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            i(class="color-preview", data-color="gold")
                                            span.color-name.text-uppercase TCW-091
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            i(class="color-preview", data-color="red")
                                            span.color-name.text-uppercase TCW-050
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                    div.color-picker
                                        div(class="current-color", role="button")
                                            i(class="color-preview", data-color="white")
                                            span.color-name.text-uppercase TCW-025
                                            i.icon-row
                                        ul.color-list.clearfix
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                                            li
                                                span(data-color="brown", data-name="TCW-050")
                                            li
                                                span(data-color="red", data-name="TCW-051")
                                            li
                                                span(data-color="white", data-name="TCW-052")
                                            li
                                                span(data-color="green", data-name="TCW-025")
                                            li
                                                span(data-color="blue", data-name="TCW-024")
                                            li
                                                span(data-color="pink", data-name="TCW-026")
                                            li
                                                span(data-color="gray", data-name="TCW-027")
                                            li
                                                span(data-color="black", data-name="TCW-028")
                                            li
                                                span(data-color="purple", data-name="TCW-028")
                                            li
                                                span(data-color="gold", data-name="TCW-029")
                                            li
                                                span(data-color="silver", data-name="RPC-310")
                                            li
                                                span(data-color="silver", data-name="RPC-311")
                                            li
                                                span(data-color="yellow", data-name="RPC-312")
                                            li
                                                span(data-color="dark-blue", data-name="RPC-313")
                                            li
                                                span(data-color="light-yellow", data-name="RPC-314")
                                            li
                                                span(data-color="dark-green", data-name="RPC-315")
                                            li
                                                span(data-color="heavy-brown", data-name="RPC-316")
                                            li
                                                span(data-color="light-pink", data-name="NWC-859")
                                            li
                                                span(data-color="aqua", data-name="NWC-860")
                                            li
                                                span(data-color="aqua-light", data-name="NWC-861")
                            div.hint.mb-20
                                p If you need a professional colored rendering in your size and color, please contuctus.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")