doctype html
html
    include ../modules/base/head.jade
    title Custom Rugs
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 About
                            div.page-path-module
                                ul.page-list.clearfix
                                    li.active
                                        a(href="", class="text-uppercase", class="link-path") julie
                                    li
                                        span(class="text-uppercase", class="link-path") custom rugs
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    p.state-text Our custom-made rugs can be made in virtually any size and color. Rugs are hand-knotted in 60, 80, 100 or 150 knots per square inch with the higher knot counts being more durable and incrementally more time consuming to weave.
                                div.state-part
                                    p.state-text Detailed weaving requires skill and attention with a 9 X 12 foot hand-knotted rug often representing 1500 hours of labor and containing more than 1 million knots. Most hand-knotted rugs can be completed and delivered within 3 months, half the lead time of the industry. Lead time for flatweave rugs is 8 - 10 weeks.
                                div.state-part
                                    p.state-text We can provide pictures of each rug on the loom during the weaving process. Strike-offs are available for a nominal fee. Wool and silk poms are available for loan to designers nationwide.
                                div.state-part
                                    p.state-text Use our designs or indulge your own creativity and create your very own unique rug.
                                div.guide-download
                                    a(href="http://www.juliedasherrugs.com/Cleaning_guide_Julie_Dasher_Rugs.pdf", target="", class="td-none") 
                                        i.icon-save
                                        | Download rug cleaning guide.
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")