doctype html
html
	include ../modules/base/head.jade
	title Goods
	script.
		var imagesArray = 
			[
				[//- group 1
					'images/items/original/item-1.jpg', // 1
					'images/items/original/item-2.jpg', // 2
					'images/items/original/item-3.jpg', // 3
				],
				[//- group 2
					'images/items/original/item-4.jpg', // 4
					'images/items/original/item-5.jpg', // 5
					'images/items/original/item-6.jpg', // 6
				],
				[//- group 3
					'images/items/original/item-7.jpg', // 7
					'images/items/original/item-8.jpg', // 8
					'images/items/original/item-9.jpg', // 9
				],
				[//- group 4
					'images/items/original/item-10.jpg', // 10
					'images/items/original/item-11.jpg', // 11
					'images/items/original/item-12.jpg', // 12
				],
				[//- group 5
					'images/items/original/item-13.jpg', // 13
					'images/items/original/item-14.jpg', // 14
					'images/items/original/item-15.jpg', // 15
				],
				[//- group 6
					'images/items/original/item-1.jpg', // 1
					'images/items/original/item-2.jpg', // 2
					'images/items/original/item-3.jpg', // 3
				],
				[//- group 7
					'images/items/original/item-4.jpg', // 4
					'images/items/original/item-5.jpg', // 5
					'images/items/original/item-6.jpg', // 6
				],
				[//- group 8
					'images/items/original/item-7.jpg', // 7
					'images/items/original/item-8.jpg', // 8
					'images/items/original/item-9.jpg', // 9
				],
				[//- group 9
					'images/items/original/item-4.jpg', // 4
					'images/items/original/item-5.jpg', // 5
					'images/items/original/item-6.jpg', // 6
				],
				[//- group 10
					'images/items/original/item-4.jpg', // 4
					'images/items/original/item-5.jpg', // 5
					'images/items/original/item-6.jpg', // 6
				],
				[//- group 11
					'images/items/original/item-7.jpg', // 7
					'images/items/original/item-8.jpg', // 8
					'images/items/original/item-9.jpg', // 9
				],
				[//- group 12
					'images/items/original/item-4.jpg', // 4
					'images/items/original/item-5.jpg', // 5
					'images/items/original/item-6.jpg', // 6
				],
				[//- group 13
					'images/items/original/item-1.jpg', // 1
					'images/items/original/item-2.jpg', // 2
					'images/items/original/item-3.jpg', // 3
				],
				[//- group 14
					'images/items/original/item-7.jpg', // 7
					'images/items/original/item-8.jpg', // 8
					'images/items/original/item-9.jpg', // 9
				],
				[//- group 15
					'images/items/original/item-1.jpg', // 1
					'images/items/original/item-2.jpg', // 2
					'images/items/original/item-3.jpg', // 3
				],
				[//- group 16
					'images/items/original/item-1.jpg', // 1
					'images/items/original/item-2.jpg', // 2
					'images/items/original/item-3.jpg', // 3
				],
				[//- group 17
					'images/items/original/item-7.jpg', // 7
					'images/items/original/item-8.jpg', // 8
				]
			]
	body
		.wrapper
			include ../modules/base/header/header.jade
			.content
				include ../modules/components/goods/goods.jade
			include ../modules/base/footer/footer.jade
		script(src="js/jquery-1.11.1.min.js")
		script(src="js/jquery.elevateZoom-3.0.8.min.js")
		script(src="js/main.js")