doctype html
html
	include ../modules/base/head.jade
	title Home
	body
		.wrapper
			include ../modules/base/header/header.jade
			.content
				include ../modules/components/main-slider.jade
			include ../modules/base/footer/footer.jade
		script(src="js/jquery-1.11.1.min.js")
		script(src="js/jquery.bxslider.min.js")
		script(src="js/main.js")