doctype html
html
    include ../modules/base/head.jade
    title Information
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1.pull-left Simple Suzanni Lilac
                            include ../modules/components/product-controls.jade
                            .clear
                            .b_goods.row
                                .col-md-6.col-sm-6
                                    .goods-section.clearfix.mb-30
                                        .goods-main-picture
                                            img(src="images/items/original/item-1.jpg", alt="")
                                        .goods-section-preview
                                            a(href="", target="", class="section-item")
                                                img(src="images/items/original/item-2.jpg", alt="", class="img-responsive")
                                            a(href="", target="", class="section-item")
                                                img(src="images/items/original/item-3.jpg", alt="", class="img-responsive")
                                            a(href="", target="", class="section-item")
                                                img(src="images/items/original/item-4.jpg", alt="", class="img-responsive")
                                    .section-buttons.clearfix.mb-40
                                        a(href="", class="col-md-12 btn btn-link btn-lg td-none mb-30") Custom color
                                        .clear
                                        a(href="", class="col-md-6 btn btn-link btn-lg td-none pull-left action-btn") Save
                                        a(href="", class="col-md-6 btn btn-link btn-lg td-none pull-right action-btn hidden-xs hidden-sm btn-print") Print
                                .col-md-6.col-sm-6
                                    h4.text-uppercase fiber options:
                                    ul.marked-list
                                        li
                                            p wool
                                        li
                                            p wool and silk
                                        li
                                            p hemp
                                    h4.text-uppercase shown here in:
                                    ul.marked-list
                                        li
                                            p all Tibetian wool
                                        li
                                            p cut pile
                                    h4.text-uppercase construction options:
                                    ul.marked-list
                                        li
                                            p hand-knotted
                                        li
                                            p hand-futted
                                        li
                                            p cut, loop of lockweave pile
                                    h4.text-uppercase size options:
                                    ul.marked-list
                                        li
                                            p all rugs are custom sized
                                    h4.text-uppercase color options:
                                    ul.marked-list
                                        li
                                            p over 900 colors available
                                        li
                                            p custom colors for no upchanrge
                                        li
                                            p abrash/striation for no upchanrge
                                        li
                                            p up to 6 colors for no upchanrge
            //- footer
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")