doctype html
html
    include ../modules/base/head.jade
    title Newsletters
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Newsletters
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                            .row
                                .col-md-6
                                    h3.mb-30.main-color Newsletters archive
                                    h5.mb-30.main-color * Required fields
                                    form(id="", method="", action="")
                                        div.form-group
                                            label(for="name") Your name*
                                            input(type="text", id="name", placeholder="Your Name*", class="form-control", required)
                                        div.form-group
                                            label(for="lastname") Your last name*
                                            input(type="text", id="lastname", placeholder="Last Name*", class="form-control", required)
                                        div.form-group
                                            label(for="reason") Reason to contact
                                            select(name="reason", id="reason", class="form-control")
                                                option(value="My reason to contact") My reason to contact
                                                option(value="My reason to contact") My reason to contact
                                                option(value="My reason to contact") My reason to contact
                                        div.form-group
                                            label(for="message") Enter your message
                                            input(type="text", id="message", placeholder="Enter Your Message", class="form-control")
                                        div.text-right.mt-30.mb-30
                                            button(type="submit", class="btn btn-sm btn-simple") Sing up
                                            button(type="submit", class="btn btn-sm btn-submit") Submit
                                .col-md-6
                                    h3.mb-30.main-color E-newsletters
                                    div.mb-30
                                        a(href="", class="simple-link") Turkish Rugs Ready for Overdye
                                        .clear
                                        a(href="", class="simple-link") Furniture Upholstered in Turkish Overdyed Rugs
                                        .clear
                                        a(href="", class="simple-link") Custom Rug for ASID Showcase Home
                                        .clear
                                        a(href="", class="simple-link") Turkish Rug Treasures Recolored for Today's Interiors
                                        .clear
                                        a(href="", class="simple-link") Filling Your Creative Well
                                        .clear
                                        a(href="", class="simple-link") Are You Wondering How the "New" Economy Will Affect Your Client's Purchasing Behavior?
                                        .clear
                                        a(href="", class="simple-link") Do Your Clients Want More Value?
                                        .clear
                                        a(href="", class="simple-link") Introducing Our Hand-Tufted Rug Collection in 100% New Zealand Wool
                                        .clear
                                        a(href="", class="simple-link") Beware of "Faux" Fibers
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")