doctype html
html
    include ../modules/base/head.jade
    title Pricing
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1.pull-left Pricing
                            div.sale-module.pull-right
                                i.icon-sale
                                a(href="", target="") Wholesale pricing available to the trade
                            .clear
                            .state
                                .picture
                                    img(src="http://www.juliedasherrugs.com/images/craftsmanchip.png", alt="", class="img-responsive")
                                div.state-part
                                    p.state-text Julie Dasher Rugs sells exclusively to the interior design trade. If you would like to purchase a rug on a retail basis and are not currently working with an interior designer, please contact us and we can provide a referral for you. Price is based on knot count, size and wool/silk content in the rug. Rugs are made with Tibetan wool or New Zealand wool. Silk can be added in any amount to give the rug a beautiful elegance and sheen.
                                div.state-part
                                    p.state-text The process of creating a custom rug is simple. Pick a pattern, size and colors. Colors can be specified via a paint deck whereby we can send you yarn samples. Order a strike off (1' X 1' or 2' X 2' sample). Once the sample has been approved, order the rug. See a picture of the rug being woven on the loom. Receive your beautiful rug.
                                div.state-part
                                    p.state-text As these rugs are made custom to your specifications, there are no returns. We require a payment of 60% of the price of the rug when the order is placed and the remaining 40% when the rug is shipped from Nepal. As with any handcrafted product, the dimensions specified may vary slightly.
                                div.state-part
                                    p.state-text High-quality rug pads are available for an additional charge.
                                div.state-part
                                    p.state-text Wholesale pricing available to the trade.
                                    p.state-text 
                                        a(href="", target="", class="state-link hover-underline-none") Contact us for more details.
                                div.state-part
                                    h3.state-title Shipping
                                    p.state-text Shipping is $200 per rug to the mainland U.S. for rugs up to 9 X 12 feet.
                                    p.state-text Please inquire about shipping costs for larger rugs or to other locations.
                                div.state-part
                                    h3.state-title JULIE DASHER RUGS
                                    p.state-text
                                        a(href="tel:612-558-8767", target="",class="state-link hover-underline-none") 612-558-8767
                                    p.state-text
                                        a(href="mailto:info@juliedasherrugs.com", target="",class="state-link hover-underline-none") info@juliedasherrugs.com
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")