doctype html
html
    include ../modules/base/head.jade
    title Search Results
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1
                                span.title-count 24 
                                | Results found for 
                                a(href="", target="", class="title-link") red
                            include ../modules/components/card-item.jade
                            include ../modules/components/paginator.jade
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")