doctype html
html
    include ../modules/base/head.jade
    title video page
    body
        .wrapper
            include ../modules/base/header/header.jade
            .content
                .container
                    .content-border
                        .inner-content
                            h1 Video Gallery: 5 videos found
                            .catalog.row
                                include ../modules/components/video-card.jade
            include ../modules/base/footer/footer.jade
        script(src="js/jquery-1.11.1.min.js")
        script(src="js/main.js")