footer
    .container
        .b_texture.mt-30.mb-30
            //- div.butterfly-wrap.clearfix
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
            //-     div.butterfly.icon-b
    include social-icons.jade
    .b_copyright.pt-30.pb-30.text-center
        p.m-0 © 2008 All rights Reserved. Rug photography by 
            a(href="http://www.stevesilvermanimaging.com/", target="") Steve Silverman imaging.