.b_social.pt-30.pb-30.bt.bb
	div(role="slider-wrapper")
		ul.social-list.clearfix
			li
				a(href="https://www.facebook.com/JulieDasherRugs", target="", class="td-none facebook icon-facebook")
			li
				a(href="https://twitter.com/rugdesigner", target="", class="td-none twitter icon-twitter")
			li
				a(href="https://www.linkedin.com/in/juliedasher", target="", class="td-none linkedin icon-linkedin")
			li
				a(href="https://plus.google.com/u/0/+JulieDasherCustomRugs/posts", target="", class="td-none gplus icon-google")
			li
				a(href="http://designingrugs.blogspot.com/", target="", class="td-none blogspot icon-blogspot")
			li
				a(href="http://www.asidmn.org/", target="", class="td-none asidmn icon-asidmn")
			li
				a(href="http://www.goodweave.org/spotlight_det.php?cid=88&interview_id=87", target="", class="td-none goodweave icon-goodweave")
			li
				a(href="http://www.houzz.com/pro/jdasher/julie-dasher-rugs", target="", class="td-none houzz icon-houzz")