*
	overflow-scrolling: touch
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	outline: none !important

.clear
	clear: both

html
	font-size: 14px

body
	color: #939393
	font-size: 100%
	font-weight: 300
	font-family: "Roboto", sans-serif

.wrapper
	width: 100%
	overflow: hidden

nav,ul,ol
	list-style-type: none
	padding: 0
	margin: 0

// link style
a
	color: $link-color
	text-decoration: none
	&:hover,
	&:focus
		color: $link-color
		text-decoration: underline
	&:focus
		color: darken($link-color, 10%)

.simple-link
	float: left
	display: block
	font-size: 16px
	margin-bottom: 15px
	text-decoration: none
	border-bottom: 1px solid #D4C634
	&:hover
		color: #a8cbc7
		text-decoration: none
		border-bottom: 1px solid transparent

.h-td
	cursor: pointer
	text-decoration: none
	&:hover
		text-decoration: underline

.hover-underline-none
	cursor: pointer
	text-decoration: underline
	&:hover
		text-decoration: none

.td-none
	text-decoration: none
	&:hover,&:focus
		text-decoration: none


// input reset
input
	margin: 0
	border: 0
	padding: 0

.bt
	border-top: 1px solid $light-border
.bb
	border-bottom: 1px solid $light-border