.btn
	&.btn-lg
		+button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
	&.btn-sm
		+button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
	&.btn-xs
		+button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-xs-small);
	// custom-btns
	&.btn-paginator
		+button-variant($main-color,transparent, $user-color);
		&:hover
			+button-variant(#fff,$user-color, #fff);
		&.false-btn
			+button-variant($main-color,transparent, $user-color);

	&.btn-link
		+button-variant(#fff,#D4C634, #fff);

	&.btn-simple
		+button-variant(#d4c634,transparent,transparent);

	&.btn-submit
		+button-variant(#fff,#d4c634,#d4c634);

	&.btn-user
		+button-variant(#fff,#c8cbb3,#c8cbb3);


	&.btn-primary
		+button-variant(#fff,#D4C634,#D4C634);

	&.btn-primary
		&.btn-cirlce
			text-indent: -9999px
			border-radius: 50%
		+button-variant(#fff,#D4C634,#D4C634);


	&.btn-half
		width: 46%
		margin-right: 4%
		&:last-of-type
			margin-right: 0

	&.btn-single
		margin-bottom: 30px


	&.btn-user
		width: 31%
		margin-right: 2%
		&:first-of-type
			margin-right: 25px


.btn-borrowed
	display: block
	color: #a8cbc7
	padding: 12px 15px
	border-radius: 25px
	border: 1px solid #a8cbc7
	background-color: transparent
	&:focus,
	&:hover
		box-shadow: inset 1px 0px 5px 0px rgba(166, 203, 199, 0.8)

.btn-xs-icon
	[class^="icon-"],
	[class*=" icon-"]
		display: none


@media (max-width: 991px) and (min-width: 320px)
	.btn
		&.btn-half
			width: auto
			min-width: 120px
			margin-right: 34px
		&.btn-user
			width: auto
			min-width: 120px
			border-radius: 44px
			&:first-of-type
				margin-right: 25px

	.btn-xs-icon
		position: relative
		[class^="icon-"],
		[class*=" icon-"]
			display: block
			&:before
				font-size: 20px
		span
			display: none

@media (max-width: 767px) and (min-width: 320px)
	.btn
		&.btn-half
			width: auto
			min-width: 60px
			margin-right: 15px
		&.btn-user
			min-width: 60px