h1,h2,h3,h4,h5,h6
	margin: 0

h1
	color: #222
	font-size: 30px
	font-weight: 100
	margin-top: 40px
	margin-bottom: 40px

h4
	margin: 0
	font-size: 18px
	color: #535353

h3
	margin: 0
	font-size: 20px

h5
	margin: 0
	font-size: 16px

.main-color
	color: #222

@media (max-width: 991px) and (min-width: 768px)

	h1
		font-size: 26px
		line-height: 40px

@media (max-width: 767px) and (min-width: 320px)

	h1
		font-size: 20px
		line-height: 30px