// margin binds
.m-0
	margin: 0

.mt-40
	margin-top: 40px
.mb-40
	margin-bottom: 40px
.ml-40
	margin-left: 40px
.mr-40
	margin-right: 40px

.mt-30
	margin-top: 30px
.mb-30
	margin-bottom: 30px
.ml-30
	margin-left: 30px
.mr-30
	margin-right: 30px

.mt-20
	margin-top: 20px
.mb-20
	margin-bottom: 20px
.ml-20
	margin-left: 20px
.mr-20
	margin-right: 20px


.mt-15
	margin-top: 15px
.mb-15
	margin-bottom: 15px
.ml-15
	margin-left: 15px
.mr-15
	margin-right: 15px


// padding binds
.pt-30
	padding-top: 30px
.pb-30
	padding-bottom: 30px
.pl-30
	padding-left: 30px
.pr-30
	padding-right: 30px

@media (max-width: 767px) and (min-width: 320px)
	// .pt-30
	// 	padding-top: 0px