head
	meta(charset="utf-8")
	//- meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
	meta(content="yes" name="apple-mobile-web-app-capable")
	meta(content="telephone=no" name="format-detection")
	link(rel="shortcut icon" type="image/x-icon" href="")
	link(rel="shortcut icon" href="")
	link(rel="stylesheet", href="css/main.css")