// goods-preview
.goods-section
	overflow: hidden
	max-height: 555px
	border-radius: $primary-radius
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.20)

.goods-main-picture
	float: left
	overflow: hidden
	max-height: 555px
	width: 66.66666666666666%
	margin-right: 1.4484414414414414%
	&>img
		max-width: 100%
		min-height: 555px

.zoomLens
	border-color: #D4C634 !important

.goods-section-preview
	overflow: hidden

.section-item
	overflow: hidden
	display: block
	min-height 185px
	max-height: 185px
	margin-bottom: 1.4414414414414338%
	&:last-of-type
		margin-bottom: 0
	&>img
		min-height: 185px


.zoomContainer,
.zoomWindowContainer
	max-width: 300px !important


// goods-list
.goods-listing-wrap
	padding:  15px 30px

.goods-listing
	overflow: hidden
	position: relative
	border-radius: $primary-radius
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.20)
	&:before
		content: ''
		display: block
		margin-bottom: -1.7204301075268817%

.item-listing-wrap
	height: 0
	float: left
	opacity: 0.67
	overflow: hidden
	width: 31.717171717171716%
	margin-top: 1.7204301075268817%
	margin-right: 1.6161616161616161%
	padding-bottom: 31.717171717171716%
	transition: opacity 0.2s ease-in-out
	&:hover
		opacity: 1
	&.active
		opacity: 1
	&:nth-child(3n)
		margin-right: -1px
		width: 33.4%

.listing-item
	display: block
	position: relative
	&:before
		content: ''
		display: block
		width: 100%
		height: 0
		padding-bottom: 100%
	&>img
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		max-width: 100%
		min-height: 100%
		position: absolute

.section-buttons
	&>.btn-link
		width: 46%
		font-weight: 100
		transition: background-color 0.5s ease-in-out
		&:hover
			box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2)
	&>.col-md-12
		width: 100%
	// &>.
	&>.action-btn
		background-color: #c8cbb3
		&:hover
			background-color: darken(#c8cbb3, 10%)




@media (max-width: 992px) and (min-width: 768px)

	.goods-section
		margin-right: -15px
		.goods-main-picture
			width: 220px
			&>img
				max-width: 100%
				min-height: 421px
		.goods-section-preview
			overflow: hidden
		.section-item
			width: 135px
			max-height: 135px
			margin-bottom: 8px
			&:last-of-type
				margin-bottom: 0

@media (max-width: 1200px) and (min-width: 768px)


	.goods-main-picture
		&>img
			max-width: 100%
			min-height: 555px

	.goods-listing-wrap
		margin-top: 30px
		.goods-listing
			&:before
				margin-top: -8px
			.item-listing-wrap
				width: 49%
				display: none
				margin-top: 8px
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6)
					display: block
				&:nth-child(2n)
					float: right
					margin-right: 0
				&:nth-child(3)
					margin-right: 0

	.paginator
		&>li
			display: none
			margin-right: 5px
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3)
				display: block

@media (max-width: 767px) and (min-width: 320px)

	.goods-main-picture > img
		// min-height: 250px
		min-height: auto
	.product-controls
		margin-bottom: 20px

	.goods-listing-wrap .paginator-wrapper
		display: none

	.paginator
		&>li
			display: none
			margin-right: 5px
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3)
				display: block

	.goods-listing-wrap
		padding-top: 0
		padding-bottom: 0
		margin-top: 20px
		margin-bottom: 40px
		padding-left: 15px
		padding-right: 15px
		overflow-y: scroll
		overflow-x: scroll
		overflow-scrolling: touch
		-webkit-overflow-scrolling: touch
		box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2)
		border-radius: $primary-radius

	.goods-listing
		width: 5000px
		overflow: hidden
		&:before
			display: none

	.item-listing-wrap
		opacity: 1
		padding: 0
		margin-right: 6px !important
		width: 93px !important
		height: 93px
		margin-top: 0

	.section-buttons
		margin: 0
		&>.btn-link
			width: 100%
			margin-bottom: 20px

	.goods-section
		max-height: 100%
		margin-bottom: 20px
		.goods-main-picture
			margin: 0
			width: 100%
			float: none
			overflow: hidden
			max-height: 400px
			margin-bottom: 6px
			&>img
				max-width: 100%

	.goods-section-preview
		font-size: 0
		text-align: center

	.section-item
		width: 94px
		height: 94px
		overflow: hidden
		margin-bottom: 0
		margin-right: 4px
		vertical-align: top
		display: inline-block
		&:last-of-type
			margin-right: 0
		&>img
			min-height: 100%

@media (max-width: 445px) and (min-width: 320px)
	.product-controls
		margin-top: -20px !important