.catalog
	.row
		//- row 1
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-1.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Asian &#38; Moroccan
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-2.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Country club, Ocean &#38; Novetly
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-3.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Contemporary &#38; Arts
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-4.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Kitchen, Boudoir &#38; Floral
		//- row 2
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-5.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Country Club, Ocean &#38; Novetly
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-6.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Country club, Ocean &#38; Novetly
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-7.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Contemporary &#38; Arts
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-8.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Kitchen, Boudoir &#38; Floral
		//- row 3
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-9.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Country Club, Ocean &#38; Novetly
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-10.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Country club, Ocean &#38; Novetly
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			a(href="", target="", class="item-link")
				figure
					img(src="images/items/original/item-11.jpg", alt="", title="", class="img-responsive", itemprop="item-image")
					figcaption(itemprop="item-name") Contemporary &#38; Arts
		div(class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-card")
			//- TODO доработать "photo is not availible"
			div(class="item-link no-photo-card")