.container.fluid-mixed
	.content-border
		.main-slider-wrapper.inner-content
			.slider-inner
				div.main-slider-pager.hidden-xs
					a(href="", data-slide-index="0")
					a(href="", data-slide-index="1")
					a(href="", data-slide-index="2")
				ul.main-slider
					li
						div.slide
							img(src="images/d_slider.jpg", alt="", class="img-responsive")
							a(href="", target="", class="slide-information")
								.titling Julie Dasher Rugs
								p.small-description creates handmade artisan rugs that are custom to the space
					li
						div.slide
							img(src="images/d_slider.jpg", alt="", class="img-responsive")
							a(href="", target="", class="slide-information")
								.titling Julie Dasher Rugs
								p.small-description creates handmade artisan rugs that are custom to the space
					li
						div.slide
							img(src="images/d_slider.jpg", alt="", class="img-responsive")
							a(href="", target="", class="slide-information")
								.titling Julie Dasher Rugs
								p.small-description creates handmade artisan rugs that are custom to the space
