.paginator-wrapper.mt-30.row.mb-30
    button(type="submit", disabled="disabled", class="btn btn-sm btn-paginator") Prev
    ul.paginator.clearfix
        //- li.active
        //-     a(href="", data-pagination="1", class="pager-btn td-none") 1
        //- li
        //-     a(href="", data-pagination="2", class="pager-btn td-none") 2
        //- li
        //-     a(href="", data-pagination="3", class="pager-btn td-none") 3
        //- li
        //-     a(href="", data-pagination="4", class="pager-btn td-none") 4
        //- li
        //-     a(href="", data-pagination="5", class="pager-btn td-none") 5
        //- li
        //-     a(href="", data-pagination="6", class="pager-btn td-none") 6
        //- li
        //-     a(href="" class="other-pages") 7 - 15
    button(type="submit", disabled="disabled", class="btn btn-sm btn-paginator") Next