.product-controls.pull-right
    div.button-wrap
        button(type="submit", class="btn-control btn-borrowed", value="Borrowed") Borrowed
    div.button-wrap
        a(href="", target="", class="btn btn-xs btn-control ctrl__information td-none") $
    div.button-wrap
        a(href="", target="", class="btn btn-xs btn-control ctrl__share td-none icon-share")
        div.control-modal
            a(href="", target="", class="share facebook td-none")
                i.icon-facebook
                span facebook
            a(href="", target="", class="share twitter td-none")
                i.icon-twitter
                span twitter
            a(href="", target="", class="share gplus td-none")
                i.icon-google
                span google +
    div.button-wrap
        a(href="", target="", class="btn btn-xs btn-control ctrl__like td-none icon-like")
