div.col-md-4.col-sm-6.col-xs-12
    .video-card
        iframe(src="https://www.youtube.com/embed/FBH2WrhwT28", frameborder="0", allowfullscreen, class="video-preview")
        .card-description
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolorum, eius natus repudiandae quos temporibus iure porro, sed fugiat amet error facere nesciunt magni reiciendis in laboriosam. Molestias, non.
div.col-md-4.col-sm-6.col-xs-12
    .video-card
        iframe(src="https://www.youtube.com/embed/FBH2WrhwT28", frameborder="0", allowfullscreen, class="video-preview")
        .card-description
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis eius, pariatur, vel explicabo sequi dicta ex ut aperiam voluptas perferendis soluta laudantium reprehenderit veritatis eum ipsam animi fugiat quam natus.
div.col-md-4.col-sm-6.col-xs-12
    .video-card
        iframe(src="https://www.youtube.com/embed/FBH2WrhwT28", frameborder="0", allowfullscreen, class="video-preview")
        .card-description
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolorum dolores aut sed assumenda rerum rem aperiam, quae blanditiis excepturi commodi alias, accusamus voluptate, sunt voluptates. Error non adipisci quibusdam?
div.col-md-4.col-sm-6.col-xs-12
    .video-card
        iframe(src="https://www.youtube.com/embed/FBH2WrhwT28", frameborder="0", allowfullscreen, class="video-preview")
        .card-description
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa dolorum, eius natus repudiandae quos temporibus iure porro, sed fugiat amet error facere nesciunt magni reiciendis in laboriosam. Molestias, non.
div.col-md-4.col-sm-6.col-xs-12
    .video-card
        iframe(src="https://www.youtube.com/embed/FBH2WrhwT28", frameborder="0", allowfullscreen, class="video-preview")
        .card-description
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis eius, pariatur, vel explicabo sequi dicta ex ut aperiam voluptas perferendis soluta laudantium reprehenderit veritatis eum ipsam animi fugiat quam natus.
div.col-md-4.col-sm-6.col-xs-12
    .video-card
        iframe(src="https://www.youtube.com/embed/FBH2WrhwT28", frameborder="0", allowfullscreen, class="video-preview")
        .card-description
            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolorum dolores aut sed assumenda rerum rem aperiam, quae blanditiis excepturi commodi alias, accusamus voluptate, sunt voluptates. Error non adipisci quibusdam?